<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="static/css/admin.css">
    <script src="static/script/admin.js"></script>
</head>

<body>
    <header>
        <h1>go-test-mobydev</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/reg">Register</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/createProject">Create Project</a></li>
                <li><a href="/admin">Admin Panel</a></li>
            </ul>
        </nav>
    </header>
    <h1>User List</h1>
    <table id="userTable">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Password</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Date of Birth</th>
            <th>Session ID</th>
            <th>Is Admin</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th></th>
        </tr>
    </table>
    <script>
       
    </script>
    
    </script>
    <div class="window" id="window">
        <h2>Edit Window</h2>
        <p>User ID: <span id="userId"></span></p>
        <label>Email: <input type="text" required data-attribute="email"  ></label><br>
        <label>Name: <input type="text" required  data-attribute="name"></label><br>
        <label>Phone: <input type="text" required data-attribute="phone" placeholder="Enter phone number" maxlength="12"></label><br>
        <label>Date of Birth: <input type="date" required data-attribute="date_of_birth"></label><br>
        <label>Is Admin: <input type="checkbox"  data-attribute="is_admin"></label><br>
        <button id="sendButton">Send</button>
        <button id="closeButton">Close</button>
        <button id="deleteButton">Delete</button>
    </div>
</body>

</html>