<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="shortcut icon" href="static/images/icons/logo.png" type="image/x-icon">
    <title>Admin</title>
    <script src="static/script/common.js"></script>
</head>

<body>




    <a href="/">
        <h1>ÖZINŞE</h1>
    </a>

    <div class="main">

        <div class="container">
            <div class="header">
                <div class="nav">
                    <div class="buttons">

                        <a href="/#"><button>check</button></a>
                        <a href="/#"><button>check</button></a>
                        <a href="/#"><button>check</button></a>
                        <a href="/#"><button>check</button></a>
                        <a href="/#"><button>check</button></a>
                        <a href="/#"><button>check</button></a>
                    </div>
                    <a href="/profile">

                        <div class="profileWindow" id="profileWindow">
                            <img src="static/images/default.jpg" alt="img">
                            <div class="profileData">
                                
                    </a>
                </div>
            </div>
        </div>


    </div>

    <div class="filters">
        <input type="search" class="search-input" placeholder="Search...">
        <select id="movieCategory">
        </select>
        <script>
            fetch('api/categories')
                .then(response => response.json())
                .then(categories => {
                    var selectElement = document.getElementById("movieCategory");
                    categories.forEach(category => {
                        var option = document.createElement("option");
                        option.value = category.category_name;
                        option.textContent = category.category_name;
                        selectElement.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Ошибка при загрузке категорий:', error);
                });
            
        </script>
        
    </div>
    

    <div class="block">
        
    </div>


        <script>

            document.addEventListener('DOMContentLoaded', async () => {
                const blockElement = document.querySelector('.block');

                try {
                    const response = await fetch('api/movies/main');
                    const moviesData = await response.json();

                    moviesData.movies.forEach(movie => {
                        const movieDiv = document.createElement('div');
                        movieDiv.classList.add('movie');

                        const categoryName = movie.category[0]?.category_name || 'N/A';
                        const genreName = movie.genre[0]?.name || 'N/A';
                        const ageCategoryName = movie.ageCategory[0]?.name || 'N/A';

                        movieDiv.innerHTML = `
                                    <img src="${movie.imageUrl}" alt="${movie.name}">
                                    <h2>${movie.name}</h2>
                                    <p>Year: ${movie.year}</p>
                                    <p>Duration: ${movie.durationMinutes} minutes</p>
                                    <p>Category: ${categoryName}</p>
                                    <p>Genre: ${genreName}</p>
                                    <p>Age Category: ${ageCategoryName}</p>
                                `;

                        blockElement.appendChild(movieDiv);
                    });
                } catch (error) {
                    console.error('Ошибка при загрузке данных:', error);
                }
            });
        </script>






        </script>

    </div>
    </div>
    </div>


    </div>




    </div>
    <div id="popupNotification" class="popup-notification">
        <span class="close-popup" onclick="closePopupNotification()">&times;</span>
        <p id="popupMessage"></p>
    </div>
    </div>
    <script>

    </script>
</body>




<div class="switch">
    <button class="toggle-theme">🌙</button>
</div>


</html>