<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>

<body>
    <div id="email" class="email">
        {{.Email}}
    </div>
    <div id="token" class="token">
        {{.Token}}
    </div>
    <input type="password" name="password" id="password" placeholder="New Password">
    <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirm Password">
    <button onclick="submitForm()">Submit</button>
    Password needs to be valid

    <script>
        function submitForm() {
            let password = document.getElementById('password').value;
            let passwordConfirm = document.getElementById('passwordConfirm').value;
            let email = document.getElementById('email').innerText.trim();
            let token = document.getElementById('token').innerText.trim();

            if (password !== passwordConfirm) {
                alert('Passwords do not match');
                return;
            }

            let data = {
                email: email,
                token: token,
                password: password
            };
            const queryString = window.location.search;

            const params = new URLSearchParams(queryString);

            const tokenQ = params.get('token');
            const tokenE = params.get('email');
            fetch(`/api/reset-password?token=${tokenQ}&email=${tokenE}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(errorData => {
                            throw new Error(errorData.message || `HTTP error! Status: ${response.status}`);
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        alert('Password changed successfully');
                    } else {
                        throw new Error(data.message || 'Unknown error occurred');
                    }
                })
                .catch((error) => {
                    console.error('Error:', error.message);
                    alert('Failed to change password: ' + error.message);
                });


        }

    </script>

</body>

</html>