<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ÖZINŞE</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="shortcut icon" href="static/images/icons/logo.png" type="image/x-icon">
    <script src="static/script/index.js"></script>
</head>

<body>
    <style>
    </style>
    <div class="main">
        <div class="name">
            <h1>ÖZINŞE</h1>
        </div>

        <div class="container">
            <div class="header">
                <div class="buttons">

                    <a href="/reg"><button>Регистрация</button></a>
                    <a href="/login"><button>Авторизироваться</button></a>
                    <a href="/projects"><button>Проекты</button></a>

                </div>
                <div class="profileWindow" id="profileWindow">
                    <img src="static/images/default.jpg" alt="img">
                    <div class="profileData">


                    </div>
                </div>
            </div>

            ALL PROJECTS
        </div>
    </div>
    <script>
        function getProjects() {
            fetch(`api/movie`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'

                }
            })
                .then(response => {
                    return response.json().then(json => {
                        if (!response.ok) {
                            throw new Error(`${response.status}: ${json.message}`);
                        }
                        return json;
                    });
                })
                .then(data => {
                })
                .catch(error => {
                    showPopupNotification(error.message);
                });
        }
        function showPopupNotification(message) {
            const popupNotification = document.getElementById('popupNotification');
            const popupMessage = document.getElementById('popupMessage');

            popupMessage.textContent = message;
            popupNotification.style.display = 'block';

            setTimeout(() => {
                closePopupNotification();
            }, 4000);
        }

        function closePopupNotification() {
            const popupNotification = document.getElementById('popupNotification');
            popupNotification.style.display = 'none';
        }
    </script>


    </script>

    <div id="popupNotification" class="popup-notification">
        <span class="close-popup" onclick="closePopupNotification()">&times;</span>
        <p id="popupMessage"></p>
    </div>
    </div>

    <footer>
        &copy; 2024 ÖZINŞE. All Rights Reserved.
    </footer>
    </div>
</body>
<div class="switch">
    <button class="toggle-theme">🌙</button>
</div>

</html>