<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login.css">
    <script src="static/script/login.js"></script>
    <title>Авторизация</title>

</head>

<body>
    <a href="/">
        <h1>OZINSHE</h1>
    </a>

    <div class="main">

        <div class="container">
            <div class="header">
                <div class="nav">
                    <div class="buttons">

                        <a href="/reg"><button>Регистрация</button></a>
                        <a href="/mobile"><button>Мобильное приложение</button></a>
                        <a href="/projects"><button>Проекты</button></a>
                    </div>
                </div>


            </div>




            <div class="block">
                <h2>Авторизация</h2>

                <h3>Войдите чтобы продолжить</h3>


                <div class="form">
                    <label for="email">Почта:</label>
                    <input type="email" id="email" name="email" oninput="checkForinput()" required>

                    <label for="password">Пароль:</label>
                    <div class="password-container">
                        <input type="password" id="password" name="password" oninput="checkForinput()" required>
                        <button type="button" onclick="togglePasswordVisibility()" class="togglePasswordBtn"
                            id="togglePasswordBtn">(X)</button>
                    </div>
                    <style>

                    </style>

                    <div class="submitBlock">
                        <input disabled type="submit" onclick="submit()" id="submitButton" value="Авторизация">
                        <div class="loading" id="loading"></div>
                    </div>
                </div>

                <script>

                </script>

                <style>
                </style>




                <p>Нету аккаунта? <a href="/reg">Регистрация</a>.</p>
                <div style="text-align: center;" >
                    _______
                </div>

                <p>Или</p>
                <div class="header">
                    <div class="submitBlock">
                        <a href="/reg/#"><button>Apple Id</button></a>
                        <a href="/reg/#"><button>Google</button></a>
                        
                    </div>
                    </div>
            </div>
        </div>


    </div>




    </div>
    <div id="popupNotification" class="popup-notification">
        <span class="close-popup" onclick="closePopupNotification()">&times;</span>
        <p id="popupMessage"></p>
    </div>
    </div>
    <script>

    </script>
</body>




<div class="switch">
    <button class="toggle-theme">🌙</button>
</div>


</html>