<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/profile.css">
    <link rel="stylesheet" href="profile.css">

    <link rel="shortcut icon" href="static/images/icons/logo.png" type="image/x-icon">
    <title>Your profile</title>
    <script src="static/script/profile.js"></script>

</head>

<body>
    <a href="/">
        <h1>ÖZINŞE</h1>
    </a>

    <div class="main">

        <div class="container">
            <div class="header">
                <div class="nav">
                    <div class="buttons">
                        <a href="/login"><button>Авторизация</button></a>
                        <a href="/reg"><button>Регистрация</button></a>
                    </div>
                </div>


            </div>

            <div class="block">
                <p>Id: {{.Id}}

                </p>
                <p>Ваша почта: {{.Email}}

                </p>
                <p>Имя: {{.Name}}

                </p>
                <p>Номер телефона: {{.Phone}}

                </p>
                <p>Дата рождения: {{.DateOfBirth}}

                </p>
                <p>Роль: {{.Role}}
                    
                </p>

                <button onclick="openModal()">Edit</button>
            </div>


        </div>
    </div>
    </div>


    </div>




    </div>
    <script>
        function openModal() {
            document.getElementById('editModal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('editModal').style.display = 'none';
        }
    </script>
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <label>Имя:</label>
            <input type="text" name="name" id="name" value="{{.Name}}">

            <label>Номер телефона:</label>
            <input type="text" id="phone" name="phone" value="{{.Phone}}"
                oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 15)" maxlength="15" minlength="7">


            <label>Дата рождения:</label>
            <input type="date" name="dob" id="dob" value="{{.DateOfBirth}}">
            <input type="submit" onclick="sendPutRequest()" id="id" name="{{.Id}}" value="Save">
        </div>
    </div>
    <script>
        function sendPutRequest() {

            let url = `/api/profile`;
            let name = document.getElementById('name').value;
            let phone = document.getElementById('phone').value;
            let date_of_birth = document.getElementById('dob').value;
            if (phone[0] != '+') {
                phone = '+' + phone
            }
            let data = {
                name: name,
                phone: phone,
                date_of_birth: date_of_birth
            };
            let token = getToken()
            fetch(url, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(errorData => {
                            throw new Error(errorData.message || `HTTP error! status: ${response.status}`);
                        });
                    }

                    return response.json();
                })
                .then(data => {
                    showPopupNotification(data.message);
                    closeModal();
                })
                .catch(error => {
                    showPopupNotification(error.message);
                    console.error('Fetch error:', error);
                });

        }

    </script>

    <div id="popupNotification" class="popup-notification">
        <span class="close-popup" onclick="closePopupNotification()">&times;</span>
        <p id="popupMessage"></p>
    </div>
    </div>
    <script>

    </script>
</body>




<div class="switch">
    <button class="toggle-theme">🌙</button>
</div>


</html>