<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="shortcut icon" href="static/images/icons/logo.png" type="image/x-icon">
    <title>Your profile</title>
    <script src="static/script/profile.js"></script>

</head>

<body>
    <a href="/">
        <h1>ÖZINŞE</h1>
    </a>

    <div class="main">

        <div class="container">
            <div class="header">
                <div class="nav">
                    <div class="buttons">
                        <a href="/login"><button>Авторизация</button></a>
                        <a href="/reg"><button>Регистрация</button></a>
                    </div>
                </div>


            </div>



            <div class="block">
                <p>

                    {{.Id}}
                </p>
                <p>
                    {{.Email}}

                </p>
                <p>
                    {{.Password}}

                </p>
                {{.Name.String}}
                {{.Phone.String}}
                {{.DateOfBirth.String}}
                {{.Role}}
                {{.CreatedAt.String}}
                



           
            </div>

        </div>
    </div>
    </div>


    </div>




    </div>
    <div id="popupNotification" class="popup-notification">
        <span class="close-popup" onclick="closePopupNotification()">&times;</span>
        <p id="popupMessage"></p>
    </div>
    </div>
    <script>

    </script>
</body>




<div class="switch">
    <button class="toggle-theme">🌙</button>
</div>


</html>