<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <script src="static/script/projects.js"></script>
    <link rel="stylesheet" href="static/css/projects.css">

</head>
<body>
    <header>
        <h1>go-test-mobydev</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/reg">Register</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/createProject">Create Project</a></li>
                <li><a href="/admin">Admin Panel</a></li>
            </ul>
        </nav>
    </header>
    <h1>All projects created</h1>
    <div id="projects-list">
    </div>


</body>
</html>
