<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/reg.css">
    <title>Registration</title>
</head>

<body>
    <header>
        <h1>go-test-mobydev</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/reg">Register</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/createProject">Create Project</a></li>
                <li><a href="/admin">Admin Panel</a></li>
            </ul>
        </nav>
    </header>
    <h1>Registration</h1>
    <div class="block">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required oninput="validateInput()"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required oninput="validateInput()"><br>
        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" required oninput="validateInput()"><br>
        <div class="validationBlock" id="validationBlock"></div>
        <input type="submit" onclick="submit()" id="submitButton" value="Register" >
        <p>Already have an account? <a href="/login">Login here</a>.</p>
    </div>
    <script>

        function validateInput() {
            let email = document.getElementById('email').value;
            let password = document.getElementById('password').value;
            let confirmPassword = document.getElementById('confirmPassword').value;

            const validationBlock = document.getElementById('validationBlock');
            validationBlock.innerHTML = ''; // очищаем валидационный блок перед проверкой

            // Валидация email
            if (!email) {
                validationBlock.innerHTML += '<p>Email is required</p>';
            } else if (!validateEmail(email)) {
                validationBlock.innerHTML += '<p>Invalid email format</p>';
            }

            // Валидация пароля
            if (!password) {
                validationBlock.innerHTML += '<p>Password is required</p>';
            } else if (password.length < 6) {
                validationBlock.innerHTML += '<p>Password should be at least 6 characters long</p>';
            }

            // Подтверждение пароля
            if (password !== confirmPassword) {
                validationBlock.innerHTML += '<p>Passwords do not match</p>';
            }

            const submitButton = document.getElementById('submitButton');
            valid = (validationBlock.innerHTML === '');
            if (valid) {
                submitButton.style.backgroundColor='blue'
                submitButton.disabled = false
                
            }else {
                submitButton.style.backgroundColor='gray'
                submitButton.disabled = true

            }
        }

        function validateEmail(email) {
            const re = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            return re.test(String(email).toLowerCase());
        }

        function submit() {
            let email = document.getElementById('email').value;
            let password = document.getElementById('password').value;
            let confirmPassword = document.getElementById('confirmPassword').value;

            const data = {
                email: email,
                password: password,
                confirmPassword: confirmPassword,
            };

            fetch("/reg", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    return response.json().then(json => {
                        if (!response.ok) {
                            throw new Error(`Ошибка HTTP, статус ${response.status}: ${json.message}`);
                        }
                        return json;
                    });
                })
                .then(data => {
                    alert(data.message || 'Успешная регистрация'); // выводим сообщение из ответа или стандартное сообщение
                })
                .catch(error => {
                    alert('Произошла ошибка: ' + error.message);
                });
        }

    </script>
</body>

</html>
