<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/reg.css">
    <title>Регистрация</title>
</head>

<body>
    <h1>OZINSHE</h1>
    <div class="main">


                
        
        
        <div class="container">
            <div class="header">
                <div class="nav">
                    <div class="buttons">
        
                        <a href="/reg"><button>Регистрация</button></a>
                        <a href="/mobile"><button>Мобильное приложение</button></a>
                        <a href="/projects"><button>Проекты</button></a>
                    </div>
                </div>
                
                
            </div>
            <div class="block">
                <h2>Регистрация</h2>
            <label for="email">Почта:</label><br>
            <input type="email" id="email" name="email" required oninput="validateInput()"><br>
            <div class="validationBlock">
                <div class="validationBlockEmail" id="validationBlockEmail"></div>
            </div>
            <label for="password">Пароль:</label><br>
            <input type="password" id="password" name="password" required oninput="validateInput()"><br>
            <div class="validationBlock">
                <div class="validationBlockPassword" id="validationBlockPassword"></div>
            </div>
            <label for="confirm_password">Подтверждение пароля:</label><br>
            <input type="password" id="confirmPassword" name="confirmPassword" required oninput="validateInput()"><br>
            <div class="validationBlock">
                <div class="validationBlockPasswordC" id="validationBlockPasswordC"></div>
            </div>
            <div class="submitBlock">
                <input disabled   type="submit" onclick="submit()" id="submitButton" value="Зарегистрироваться">

                <div class="loading" id="loading"></div>
            </div>
            
            

            
            <div class="validationBlock">
            </div>
            <p>Уже есть аккаунт? <a href="/login">Авторизация</a>.</p>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
    <script>
        validateInput()
        function validateInput() {
            let email = document.getElementById('email').value;
            let password = document.getElementById('password').value;
            let confirmPassword = document.getElementById('confirmPassword').value;
            
            const validationBlockEmail = document.getElementById('validationBlockEmail');
            const validationBlockPassword = document.getElementById('validationBlockPassword');
            const validationBlockPasswordC = document.getElementById('validationBlockPasswordC');
            validationBlockEmail.innerHTML = ''; // очищаем валидационный блок перед проверкой
            validationBlockPassword.innerHTML = ''; // очищаем валидационный блок перед проверкой
            validationBlockPasswordC.innerHTML = ''; // очищаем валидационный блок перед проверкой

            // Валидация email
            if (!email) {
                validationBlockEmail.innerHTML += '<p>Почта обязательна</p>';
            } else if (!validateEmail(email)) {
                validationBlockEmail.innerHTML += '<p>Неверный формат почты</p>';
            }

            // Валидация пароля
            if (!password) {
                validationBlockPassword.innerHTML += '<p>Пароль обязателен</p>';
            } else {
                if (!validatePasswordContainsUppercase(password)) {
                    validationBlockPassword.innerHTML += '<p>Хотя бы одна буква высшего регистра</p>';
                }
                if (!validatePasswordContainsLowercase(password)) {
                    validationBlockPassword.innerHTML += '<p>Хотя бы одна буква нижнего регистра</p>';
                }
                if (!validatePasswordContainsDigit(password)) {
                    validationBlockPassword.innerHTML += '<p>Хотя бы одна цифра</p>';
                }
                if (!validatePasswordContainsSpecialChar(password)) {
                    validationBlockPassword.innerHTML += '<p>Хотя бы один специальный символ</p>';
                }
                if (password.length < 8) {
                    validationBlockPassword.innerHTML += '<p>Хотя бы 8 символов</p>';
                }
            }

            // Подтверждение пароля
            if (password !== confirmPassword) {
                validationBlockPasswordC.innerHTML += '<p>Пароли не совпадают</p>';
            }
            if ((validationBlockEmail.innerHTML !== '') || (validationBlockPassword.innerHTML !== '') || (validationBlockPasswordC.innerHTML !== '')) {
                submitButton.disabled = true
                submitButton.style.backgroundColor = 'gray'
            } else {
                submitButton.disabled = false
                submitButton.style.backgroundColor = 'blue'
            }
        }

        function validatePasswordContainsUppercase(password) {
            return /[A-Z]/.test(password);
        }

        function validatePasswordContainsLowercase(password) {
            return /[a-z]/.test(password);
        }

        function validatePasswordContainsDigit(password) {
            return /\d/.test(password);
        }

        function validatePasswordContainsSpecialChar(password) {
            return /[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]/.test(password);
        }

        function validateEmail(email) {
            const re = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            return re.test(String(email).toLowerCase());
        }

        function submit() {
            let email = document.getElementById('email').value;
            let password = document.getElementById('password').value;
            let confirmPassword = document.getElementById('confirmPassword').value;

            const data = {
                email: email,
                password: password,
                confirmPassword: confirmPassword,
            };

            const loading = document.getElementById('loading');
            const submitButton = document.getElementById('submitButton');

            loading.style.display = 'block';  // показать индикатор загрузки
            submitButton.disabled = true;     // деактивировать кнопку отправки

            fetch("/reg", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    loading.style.display = 'none'; // скрыть индикатор загрузки
                    submitButton.disabled = false;  // активировать кнопку отправки

                    return response.json().then(json => {
                        if (!response.ok) {
                            throw new Error(`${response.status}: ${json.message}`);
                        }
                        return json;
                    });
                })
                .then(data => {
                    // alert(data.message || 'Успешная регистрация'); // выводим сообщение из ответа или стандартное сообщение
                    
                    showPopupNotification(data.message)
                    
                })
                .catch(error => {
                    showPopupNotification(error.message);
                });
        }
        function showPopupNotification(message) {
            const popupNotification = document.getElementById('popupNotification');
            const popupMessage = document.getElementById('popupMessage');

            popupMessage.textContent = message;
            popupNotification.style.display = 'block';

            setTimeout(() => {
                closePopupNotification();
            }, 4000); 
        }

        function closePopupNotification() {
            const popupNotification = document.getElementById('popupNotification');
            popupNotification.style.display = 'none';
        }
        document.addEventListener('DOMContentLoaded', () => {
    const toggleThemeButton = document.querySelector('.toggle-theme');
    const body = document.body;
    
    toggleThemeButton.addEventListener('click', () => {
        if (body.classList.contains('dark-mode')) {
            // Switch to light mode
            body.classList.remove('dark-mode');
            toggleThemeButton.textContent = '🌙';
        } else {
            // Switch to dark mode
            body.classList.add('dark-mode');
            toggleThemeButton.textContent = '☀️';
        }
    });
});


    </script>
</body>
<div class="switch">
    <button class="toggle-theme">🌙</button>
</div>
<div id="popupNotification" class="popup-notification">
    <span class="close-popup" onclick="closePopupNotification()">&times;</span>
    <p id="popupMessage"></p>

</html>