<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restore password</title>
</head>

<body>
    <div id="emailDiv">
        <input id="email" name="email" type="email">
        <button onclick="submitEmail()">Submit Email</button>
    </div>
    
    <div id="codeDiv" style="display: none;">
        <input id="code" name="code" type="text" placeholder="Enter code">
        <button onclick="verifyCode()">Verify Code</button>
    </div>

    <script>
        let userEmail = '';

        function submitEmail() {
            let element = document.getElementById('email');
            userEmail = element.value;
            data = {
                email: userEmail,
            };

            fetch(`api/send-code`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    return response.json().then(json => {
                        if (!response.ok) {
                            throw new Error(`${response.status}: ${json.message}`);
                        }
                        if (response.status === 200) {
                            document.getElementById('codeDiv').style.display = 'block';
                            alert('Please enter the code we sent to the email')
                        }
                        return json;
                    });
                })
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    alert(error.message);
                });
        }

        function verifyCode() {
            let codeElement = document.getElementById('code');
            let code = codeElement.value;
            data = {
                email: userEmail,
                code: code,
            };

            fetch(`api/verify`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (response.status === 308) {
                        return response.json().then(json => {
                            window.location.href = json.redirect;
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    alert(error.message);
                });
        }
    </script>
</body>

</html>
