#window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 9999;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    color: #333; 
}

.container {
    margin: 0 auto; 
    width: 80%; 
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
h1 {
    text-align:  center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; 
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff; 
    color: #fff; 
    font-size: 16px;
}

button:hover {
    background-color: #0056b3; 
}

#logoutButton {
    background-color: #dc3545; 
}

#saveChangesButton {
    background-color: #28a745; 
}

